<!DOCTYPE html>
<html data-ng-app="">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="My experience">
        <meta name="keywords" content="experience, profile, portfolio, nick, friend">
        <meta name="author" content="Nick Friend">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Nick Friend - Portfolio</title>

        <link href='https://fonts.googleapis.com/css?family=Dancing+Script|Roboto' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="//code.angularjs.org/1.5.0-rc.1/angular.min.js"></script>

        <link rel="stylesheet" type="text/css" href="styles.css">
        <script src="scripts.js"></script>
    </head>
    <body>
        <!--  left sliding div  -->
        <div class="left">
            <img class="portfolio-pic img-responsive img-circle" src="images/portfolio-pic.jpg" alt="profile picture">
            <h1 class="portfolio-name">Nick Friend</h1>
            <div class="cube-nav-display hidden-xs">
                <div data-ng-show="cube == 'projects-1'">
                    <!--  Calculator project  -->
                    <h3>Calculator</h3>
                    <p>bacon ipsum</p>
                    <img src="images/html5-logo.png" alt="html 5 logo" class="thumb-img">
                    <img src="images/css-logo.png" alt="css 3 logo" class="thumb-img">
                    <img src="images/js-logo.png" alt="javascript logo" class="thumb-img">
                    <img src="images/bootstrap-logo.png" alt="bootstrap logo" class="thumb-img">
                    <!-- CSS design project -->
                    <h3>Mboutique</h3>
                    <p>bacon ipsum</p>
                    <img src="images/html5-logo.png" alt="html 5 logo" class="thumb-img">
                    <img src="images/css-logo.png" alt="css 3 logo" class="thumb-img">
                    <img src="images/js-logo.png" alt="javascript logo" class="thumb-img">
                    <img src="images/bootstrap-logo.png" alt="bootstrap logo" class="thumb-img">
                    <img src="images/angular-logo.png" alt="angular logo" class="thumb-img">
                </div>
                <div data-ng-show="cube == 'projects-2'">
                    <!-- bootcamp hackathon projects -->
                    <h2>Hackathon Projects</h2>
                    <!-- hackathon design and logic challenge(1st place) -->
                    <h3>Tic-Tac-Toe</h3>
                    <p>bacon ipsum</p>
                    <img src="images/html5-logo.png" alt="html 5 logo" class="thumb-img">
                    <img src="images/css-logo.png" alt="css 3 logo" class="thumb-img">
                    <img src="images/js-logo.png" alt="javascript logo" class="thumb-img">
                    <img src="images/bootstrap-logo.png" alt="bootstrap logo" class="thumb-img">
                    <!-- hackathon api challenge(2nd place)  -->
                    <h3>API Challenge</h3>
                    <p>bacon ipsum</p>
                    <img src="images/html5-logo.png" alt="html 5 logo" class="thumb-img">
                    <img src="images/css-logo.png" alt="css 3 logo" class="thumb-img">
                    <img src="images/js-logo.png" alt="javascript logo" class="thumb-img">
                    <img src="images/bootstrap-logo.png" alt="bootstrap logo" class="thumb-img">
                </div>
                <div data-ng-show="cube == 'projects-3'">
                    <!-- worked with fellow students on projects -->
                    <h2>Paired Programming</h2>
                    <!-- front end/backend paired programming challenge -->
                    <h3>Blog Challenge</h3>
                    <p>bacon ipsum</p>
                    <img src="images/html5-logo.png" alt="html 5 logo" class="thumb-img">
                    <img src="images/css-logo.png" alt="css 3 logo" class="thumb-img">
                    <img src="images/js-logo.png" alt="javascript logo" class="thumb-img">
                    <img src="images/bootstrap-logo.png" alt="bootstrap logo" class="thumb-img">
                    <img src="images/angular-logo.png" alt="angular logo" class="thumb-img">
                    <!-- first student paired programming for javascript logic later
                         updated with angular -->
                    <h3>Student Grade Table</h3>
                    <p>bacon ipsum</p>
                    <img src="images/html5-logo.png" alt="html 5 logo" class="thumb-img">
                    <img src="images/css-logo.png" alt="css 3 logo" class="thumb-img">
                    <img src="images/js-logo.png" alt="javascript logo" class="thumb-img">
                    <img src="images/bootstrap-logo.png" alt="bootstrap logo" class="thumb-img">
                    <img src="images/angular-logo.png" alt="angular logo" class="thumb-img">
                </div>
                <div data-ng-show="cube == 'projects-4'">
                    <!-- memory match game combines css, html and js -->
                    <h3>Memory Match</h3>
                    <p>bacon ipsum</p>
                    <img src="images/html5-logo.png" alt="html 5 logo" class="thumb-img">
                    <img src="images/css-logo.png" alt="css 3 logo" class="thumb-img">
                    <img src="images/js-logo.png" alt="javascript logo" class="thumb-img">
                    <img src="images/bootstrap-logo.png" alt="bootstrap logo" class="thumb-img">
                </div>
                <div data-ng-show="cube == 'projects-clear'"></div>
                <div data-ng-show="cube == 'clear-projects'"></div>
            </div>
        </div>
        <!--    right sliding div  -->
        <div class="right">
            <!--  button for enter animation  -->
            <button class="btn btn-lg enter-button" id="enter" type="button">
                <span class="btn-span">Access</span>
            </button>
            <!--  button for exit animation   -->
            <button class="btn btn-lg enter-button" id="exit" type="button" style="display: none">
                <span class="btn-span">Exit</span>
            </button>
        </div>
        <div class="hidden-xs" ng-init="cube = 'projects-clear'">
            <!--  radio buttons to navigate around the cube -->
            <input type="radio" id="radio-front" name="cube-nav" checked data-ng-model="cube" value="projects-clear" class="woosh">
            <input type="radio" id="radio-left" name="cube-nav" data-ng-model="cube" value="projects-1" class="woosh">
            <input type="radio" id="radio-right" name="cube-nav" data-ng-model="cube" value="projects-2" class="woosh">
            <input type="radio" id="radio-top" name="cube-nav" data-ng-model="cube" value="projects-3" class="woosh">
            <input type="radio" id="radio-bottom" name="cube-nav" data-ng-model="cube" value="projects-4" class="woosh">
            <input type="radio" id="radio-back" name="cube-nav" data-ng-model="cube" value="clear-projects" class="woosh">
            <div class="separator"></div>
            <div class="space3d hidden">
                <!--  cube -->
                <div class="_3dbox">
                    <div class="_3dface _3dface--front">
                        <h1>Web Developer</h1>
                        <p class="front-p">Discovered a passion for web design in 2015. </p>
                        <p class="front-p">Completed a coding bootcamp at LearningFuze.</p>
                    </div>
                    <div class="_3dface _3dface--top">
                        <div class="well horizontal-well blog-well"></div>
                        <div class="well horizontal-well sgt-well"></div>
                    </div>
                    <div class="_3dface _3dface--bottom">
                        <div class="well large-well matching-well"></div>
                    </div>
                    <div class="_3dface _3dface--left">
                        <div class="well vertical-well calculator-well"></div>
                        <div class="well vertical-well mboutique-well"></div>
                    </div>
                    <div class="_3dface _3dface--right">
                        <div class="well horizontal-well tictactoe-well"></div>
                        <div class="well horizontal-well tweet-well"></div>
                    </div>
                    <div class="_3dface _3dface--back">
                        <div class="contacts">
                            <h2>Contacts</h2>
                            <ul>
                                <li><i class="fa fa-github"></i><a href="https://github.com/Kinarki" target="_blank"> GitHub</a></li>
                                <li><i class="fa fa-envelope-o"></i><a href="mailto:nickfriend.kinarki@gmail.com"> Email</a></li>
                                <li><i class="fa fa-linkedin-square"></i>
                                    <a href="https://www.linkedin.com/in/nickfriendkinarki" target="_blank"> LinkedIn</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator"></div>
        </div>

        <div class="visible-xs xs-container">
            <div class="well main-well">
                <h1>Web Designer</h1>
                <p class="front-p">Discovered a passion for web design in 2015. </p>
                <p class="front-p">Completed a coding bootcamp at LearningFuze.</p>
            </div>
            <!-- projects -->
            <h2 class="projects-title">Projects</h2>
            <div class="well horizontal-well blog-well"></div>
            <div class="well horizontal-well sgt-well"></div>
            <div class="well horizontal-well matching-well"></div>
            <div class="well horizontal-well tictactoe-well"></div>
            <div class="well horizontal-well tweet-well"></div>
            <div class="well vertical-well calculator-well"></div>
            <div class="well vertical-well mboutique-well"></div>

            <div class="well clearfix horizontal-well">
                <h2>Contacts</h2>
                <ul>
                    <li><i class="fa fa-github"></i><a href="https://github.com/Kinarki" target="_blank"> GitHub</a></li>
                    <li><i class="fa fa-envelope-o"></i><a href="mailto:nickfriend.kinarki@gmail.com"> Email</a></li>
                    <li><i class="fa fa-linkedin-square"></i>
                        <a href="https://www.linkedin.com/in/nickfriendkinarki" target="_blank"> LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>
        <audio id="audio" src="audio/door.mp3"></audio>
        <audio id="woosh-sound" src="audio/woosh.mp3"></audio>
    </body>
</html>