.main_container {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

header, #footer {
    min-height: 15vh;
    background-color: black;
    text-align: center;
    color: white;
}

.container-section {
    min-width: 100%;
    min-height: 90vh;
}

h1 {
    margin: auto;
    padding: 0 2px 2px 2px;
    background-color: black;
    color: white;
}

.tab {
    font-size: 3vmin;
    width: 20vw;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
#main_content {
    height: 70vh;
    text-align: center;
}

#footer > ul, li {
    color: white;
    list-style: none;
    padding-bottom: 10px;
}


a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    color: white;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul > li {
    list-style-type: none;
    display: inline-block;
    padding-left: 10px;
    font-size: 18px;
    font-family: "arial", sans-serif;
}

.filler {
    height: 10vh;
    background-color: black;
    color: white;
    text-align: center;

}

.filler > ul {
    padding-top: 3vh;
}

.abo {
    background-image: url('images/profilepicture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.ski {
    background-image: url('images/philosophy.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.ski h2 {
    color: mediumblue;
}

.exp {
    background-image: url('images/yo_videogames.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
}

.con {
    background-image: url('images/fuckyounebula.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}



p {
    color: red;
    font-size: 2vh;
    margin-top: 2em;
    border-radius: 1em;
    padding: 1em;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.pone {
    margin-top: 25vh;
}

p:hover {
    background-color: rgba(0,0,0,0.6);
    border-radius: 1em;
}

.list-group {
    color: red;
    background-color: rgba(0,0,0,0);
    width: 50vw;
    margin-top: 35vh;
    font-size: 2vmin;
    border-radius: 1em;
    margin-left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: none;
}

.list-group > h2 {
    background-color: rgba(0,0,0,0.6);
    border-radius: 1em;
    margin-top: 30vh;
    font-size: 3vmin;
    padding: 1em;
}

.list-group-item:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1em;
}

.list-group-item {
    background-color: rgba(0,0,0,0);
    border: none;
    padding-top: 15px;
    padding-bottom: 15px;
    color: red;
    width: 35vw;
    margin: 20px -50% 20px 50%;
    transform: translate(-50%, -50%);


}

.form {
    margin-top: 25vh;
    color: red;
    background-color: rgba(0,0,0,0.6);
    border-radius: 1em;
    padding: 1em;
}

.btn {
    background-image: none;
    background-color: red;
    margin-top: 1em;
    border-color: white;
    color: white;
}

.btn:hover {
    border-color: blue;
}

.form-control {

    margin: 1em 0;
}

.left {
    float: left;
    margin-left: 3vmin;
    margin-top: 5vh;
    height: 25vh;
    font-size: 3vh;
}
.left > h2 {
    font-size: 3vh;
}

.left:hover {
    background-image: url("images/asteroids.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1em;
    color: lawngreen;
    background-position-y: 30%;
}

.lp {
    color: black;
    margin-top: 5vh;
}

.lp:hover {
    color: lawngreen;
    background-color: rgba(0,0,0,0);
}

.right {
    float: right;
    margin-top: 5vh;
    margin-right: 4vmin;
    height: 25vh;
}

.right > h2 {
    font-size: 3vh;
}

.right:hover {
    background-image: url("images/missile-command.gif");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1em;
    background-position: right 1px bottom 1px;
    color: lawngreen;
}

.rp {
    color: black;
    margin-top: 5vh;
}

.rp:hover {
    color: lawngreen;
    background-color: rgba(0,0,0,0);
}

@media screen and (max-width: 375px) {
    .abo, .ski, .exp {
        width: 10%;
        height: 10%;
        background-position: bottom 50% right 50%;
    }
}